.nav-wrapper {
    background-color: #010036;
    height: 60px;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    
    .navbar-container {
        width: 100%;
        text-align:center;
    }
    
    .navbar-container ul {
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
        height: 50px;
        margin-top: -10px;
    }
    
    li {
        color: #fff;
        display: inline;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    
    img {
        height: 40px;
        width: 200px;
        margin-top: -10px;
    }
    
    a {
        display: inline;
        color: #fff;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    a:focus {
        text-decoration: none;
    }
}