.employment-wrapper {
    line-height: 30px;
    .fa-square {
        margin-right: 5px;
        padding-bottom: 20px;
    }
    .job-status {
        color: lawngreen;
        background-color: #010036;
        padding: 2px;
        margin-left: 5px;
    }
    h2 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    li {
        h3 {
            display: inline;
        }
        list-style-type: none;
    }
    p {
        margin-left: 50px;
    }
    .employment-other-info {
        margin-top: 100px;
        h2{
            margin-top: 0;
            margin-bottom: 0;
        }
        text-align: center;
    }
}