.quality-wrapper {
    
    font-size: 18px;
    
    h2 {
        margin: 50px auto 50px auto;
        width: 400px;
    }
    .img-thumb {
        height: 75px;
        width: 75px;
        border: 1px solid #000;
        margin-left: 50px;
    }
    
    .intermountain-list-title {
        border-top: 1px dotted #000;
        padding-top: 10px;
    }
    
    .links-section {
        text-align: left;
        margin-left: 60px;
    }
    
    .fa-square {
        margin-right: 5px;
    }
}