.nav-wrapper {
  background-color: #010036;
  height: 60px;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-size: 18px; }
  .nav-wrapper .navbar-container {
    width: 100%;
    text-align: center; }
  .nav-wrapper .navbar-container ul {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: -10px; }
  .nav-wrapper li {
    color: #fff;
    display: inline;
    margin-left: 2.5%;
    margin-right: 2.5%; }
  .nav-wrapper img {
    height: 40px;
    width: 200px;
    margin-top: -10px; }
  .nav-wrapper a {
    display: inline;
    color: #fff; }
  .nav-wrapper a:hover {
    text-decoration: none; }
  .nav-wrapper a:focus {
    text-decoration: none; }

.myfooter-wrapper {
  background-color: #010036;
  height: 120px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #fff; }
  .myfooter-wrapper .myfooter-container {
    width: 95%;
    position: relative;
    height: 60px; }
  .myfooter-wrapper .myfooter-container ul {
    position: absolute;
    bottom: -10px;
    height: 50px;
    display: inline;
    width: 100%;
    margin-bottom: 10px;
    text-align: center; }
  .myfooter-wrapper .footer-info {
    position: absolute;
    bottom: -10px;
    height: 20px;
    width: 100%;
    text-align: center; }
    .myfooter-wrapper .footer-info a {
      text-decoration: underline; }
  .myfooter-wrapper li {
    display: inline;
    margin-left: 2%; }
  .myfooter-wrapper a {
    display: inline;
    color: #fff; }
  .myfooter-wrapper a:hover {
    text-decoration: none; }
  .myfooter-wrapper a:focus {
    text-decoration: none; }

html,
body {
  height: 100%;
  width: 100%;
  background-color: #EEEEEE; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

.btn {
  border: 1px solid #000; }

.page-container {
  min-height: 100%; }

.home-wrapper #now-hiring {
  padding: 5px; }

.home-wrapper #intermountain-logo {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 8px 8px 8px #b6b6b6; }

.home-wrapper .jumbotron {
  text-align: center;
  min-height: 100%;
  padding-bottom: 0; }

.home-wrapper h2 {
  border: 1px dotted #010036;
  width: 600px;
  margin: 0 auto; }

.home-wrapper hr {
  color: #000;
  background-color: #000;
  height: 1px; }

.home-wrapper .home-button-row {
  text-align: center; }

.home-wrapper button {
  width: 400px;
  height: 200px;
  background-color: #010036;
  margin: 25px;
  color: #fff;
  font-size: 24px;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 8px 8px 8px #b6b6b6; }

.home-wrapper button:hover {
  color: #fff;
  background-color: #003E71; }

.home-wrapper button:focus {
  color: #fff; }

.history-wrapper {
  position: absolute;
  width: 100%;
  font-size: 18px; }
  .history-wrapper p {
    line-height: 30px; }
  .history-wrapper h2 {
    width: 300px;
    margin: 50px auto 50px auto; }
  .history-wrapper .top-info {
    text-indent: 50px; }
  .history-wrapper #staff-list {
    width: 500px;
    margin: 0 auto;
    font-weight: bold;
    line-height: 20px; }

.quality-wrapper {
  font-size: 18px; }
  .quality-wrapper h2 {
    margin: 50px auto 50px auto;
    width: 400px; }
  .quality-wrapper .img-thumb {
    height: 75px;
    width: 75px;
    border: 1px solid #000;
    margin-left: 50px; }
  .quality-wrapper .intermountain-list-title {
    border-top: 1px dotted #000;
    padding-top: 10px; }
  .quality-wrapper .info-section {
    line-height: 30px; }
    .quality-wrapper .info-section p {
      text-indent: 50px; }
  .quality-wrapper .links-section {
    text-align: left;
    margin-left: 60px; }
  .quality-wrapper .fa-square {
    margin-right: 5px; }

.facilities-wrapper {
  font-size: 18px;
  line-height: 30px; }
  .facilities-wrapper p {
    text-indent: 50px; }
  .facilities-wrapper h2 {
    margin: 50px auto 50px auto;
    width: 200px; }
  .facilities-wrapper img {
    width: 98%; }

.equipment-wrapper {
  font-size: 18px;
  line-height: 30px; }
  .equipment-wrapper h2 {
    width: 400px;
    margin: 50px auto 50px auto; }
  .equipment-wrapper .info-section {
    text-indent: 50px; }
  .equipment-wrapper .equipment-photos-section {
    width: 100%;
    text-align: center;
    margin-top: 50px; }
  .equipment-wrapper h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center; }
  .equipment-wrapper .photo-thumb {
    display: inline; }
    .equipment-wrapper .photo-thumb img {
      margin-left: 10px;
      margin-right: 10px;
      height: 85px;
      width: 85px; }
  .equipment-wrapper .photo-thumb:hover {
    cursor: pointer; }
  .equipment-wrapper .one-thumb {
    transition: all 0.01s; }
  .equipment-wrapper .one-thumb:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    filter: blur(0);
    -webkit-filter: blur(0); }
  .equipment-wrapper .equipment-thumbs {
    padding-bottom: 10px;
    border-bottom: 1px dotted #000; }
  .equipment-wrapper #main-img-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold; }
  .equipment-wrapper .main-equipment-image {
    margin-bottom: 50px;
    border: 1px solid #010036;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 8px 8px 8px #b6b6b6; }
  .equipment-wrapper .equip-button:focus {
    background-color: #010036; }

.active-equipment {
  background-color: #010036; }

.customers-wrapper {
  width: 100%; }
  .customers-wrapper .fa-square {
    margin-right: 5px; }
  .customers-wrapper #customers-title {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  .customers-wrapper .customers-row .amusement {
    width: 30%;
    display: inline-block;
    vertical-align: top; }
  .customers-wrapper .customers-row .transportation {
    width: 30%;
    display: inline-block;
    vertical-align: top; }
  .customers-wrapper .customers-row .industrial {
    width: 36%;
    display: inline-block;
    vertical-align: top; }
  .customers-wrapper .customers-row li {
    font-size: 18px;
    list-style-type: none;
    line-height: 40px; }

.employment-wrapper {
  line-height: 30px; }
  .employment-wrapper .fa-square {
    margin-right: 5px; }
  .employment-wrapper .job-status {
    color: lawngreen;
    background-color: #010036;
    padding: 2px;
    margin-left: 5px; }
  .employment-wrapper h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  .employment-wrapper li {
    list-style-type: none; }
    .employment-wrapper li h3 {
      display: inline; }
  .employment-wrapper p {
    margin-left: 50px; }
  .employment-wrapper .employment-other-info {
    margin-top: 100px;
    text-align: center; }
    .employment-wrapper .employment-other-info h2 {
      margin-top: 0;
      margin-bottom: 0; }

.all-work-wrapper {
  font-size: 18px;
  line-height: 30px; }
  .all-work-wrapper h2 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center; }
  .all-work-wrapper p {
    text-indent: 50px; }
  .all-work-wrapper li {
    list-style-type: none;
    display: inline-block; }
  .all-work-wrapper .work-body {
    text-align: center;
    padding-bottom: 25px;
    display: inline-block;
    width: 45%;
    vertical-align: top; }
  .all-work-wrapper .all-work-thumb {
    height: 85px;
    width: 85px;
    margin: 2px;
    transition: all 0.01s; }
  .all-work-wrapper .all-work-thumb:hover {
    cursor: pointer;
    filter: blur(0);
    -webkit-filter: blur(0);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .all-work-wrapper .work-button:focus {
    background-color: #010036; }
  .all-work-wrapper .button-row {
    text-align: center; }
  .all-work-wrapper .work-button {
    color: #fff;
    margin-top: 40px; }
  .all-work-wrapper .main-image {
    border: 1px solid #010036;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 8px 8px 8px #b6b6b6;
    max-width: 500px; }
  .all-work-wrapper .main-photo-info {
    text-align: center;
    margin-bottom: 50px;
    display: inline-block;
    float: right;
    vertical-align: top; }
  .all-work-wrapper span {
    font-weight: bold; }

.active-work {
  background-color: #010036; }

.contact-wrapper {
  font-size: 18px;
  line-height: 30px; }
  .contact-wrapper h2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  .contact-wrapper h3 {
    width: 400px;
    margin: 0 auto;
    text-decoration: underline; }
  .contact-wrapper p {
    width: 400px;
    margin: 0 auto; }
  .contact-wrapper #map {
    height: 270px;
    width: 35%;
    display: inline-block;
    margin-right: 4%; }
  .contact-wrapper .company-address {
    vertical-align: top;
    width: 20%;
    display: inline-block; }
  .contact-wrapper .sales-and-inquiry {
    vertical-align: top;
    width: 30%;
    display: inline-block; }
