.navbar-wrapper {
  background-color: #010036;
  height: 60px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 18px; }
  .navbar-wrapper .navbar-container {
    width: 100%;
    margin: 0 auto; }
  .navbar-wrapper .navbar-container ul {
    position: absolute;
    top: 50%;
    left: 0%;
    height: 50px;
    margin-top: -25px;
    display: inline;
    width: 100%; }
  .navbar-wrapper img {
    height: 50px;
    max-width: 300px; }
  .navbar-wrapper #first-row li {
    color: #fff;
    width: 9.5%;
    text-align: right;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
  .navbar-wrapper #first-row, .navbar-wrapper #second-row {
    display: inline; }
  .navbar-wrapper #first-row a {
    padding-left: 5px; }
  .navbar-wrapper #second-row li {
    color: #fff;
    width: 9.5%;
    text-align: right;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
  .navbar-wrapper a {
    display: inline-block;
    color: #fff; }
  .navbar-wrapper a:hover {
    text-decoration: none; }
  .navbar-wrapper a:focus {
    text-decoration: none; }

@media screen and (max-width: 1650px) {
  .navbar-wrapper {
    height: 120px; }
    .navbar-wrapper .navbar-container ul {
      top: 10%;
      height: 110px;
      margin-top: 0; }
    .navbar-wrapper #second-row li {
      margin-top: 10px; }
    .navbar-wrapper #first-row img {
      padding-left: 25px; }
    .navbar-wrapper #first-row li, .navbar-wrapper #second-row li {
      width: 19%; } }

@media screen and (max-width: 960px) {
  .navbar-wrapper #first-row img {
    padding-left: 0;
    height: 40px; } }

@media screen and (max-width: 720px) {
  .navbar-wrapper {
    height: 300px;
    line-height: 50px; }
    .navbar-wrapper #second-row li {
      margin-top: 0; }
    .navbar-wrapper #first-row li, .navbar-wrapper #second-row li {
      width: 48%;
      text-align: center;
      padding-left: 10px; } }

.myfooter-wrapper {
  background-color: #010036;
  height: 120px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #fff; }
  .myfooter-wrapper .myfooter-container {
    width: 95%;
    position: relative;
    height: 60px; }
  .myfooter-wrapper .myfooter-container ul {
    position: absolute;
    bottom: -10px;
    height: 50px;
    display: inline;
    width: 100%;
    margin-bottom: 10px;
    text-align: center; }
  .myfooter-wrapper .footer-info {
    position: absolute;
    bottom: -10px;
    height: 20px;
    width: 100%;
    text-align: center; }
    .myfooter-wrapper .footer-info a {
      text-decoration: underline; }
  .myfooter-wrapper li {
    display: inline;
    margin-left: 2%; }
  .myfooter-wrapper a {
    display: inline;
    color: #fff; }
  .myfooter-wrapper a:hover {
    text-decoration: none; }
  .myfooter-wrapper a:focus {
    text-decoration: none; }

@media screen and (max-width: 760px) {
  .myfooter-wrapper {
    height: 500px; }
    .myfooter-wrapper .myfooter-container {
      height: 390px; }
    .myfooter-wrapper .myfooter-container ul {
      height: 380px; }
    .myfooter-wrapper li {
      display: block;
      text-align: center;
      font-size: 14px;
      line-height: 40px; }
    .myfooter-wrapper .footer-info {
      bottom: -10px; } }

html,
body {
  height: 100%;
  width: 100%;
  background-color: #EEEEEE; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

.btn {
  border: 1px solid #000; }

.page-container {
  min-height: 100%; }

.home-wrapper #now-hiring {
  padding: 5px;
  margin-bottom: 50px; }

.home-wrapper #now-hiring-phrase {
  color: lawngreen;
  background-color: #010036;
  padding: 2px;
  moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 8px 8px 8px #b6b6b6; }

.home-wrapper #intermountain-logo {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 8px 8px 8px #b6b6b6;
  margin-top: 20px; }

.home-wrapper .jumbotron {
  text-align: center;
  min-height: 100%;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0; }

.home-wrapper img {
  margin-top: 0;
  padding-top: 0;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 8px 8px 8px #b6b6b6; }

.home-wrapper h2 {
  width: 100%;
  text-align: center; }

.home-wrapper hr {
  color: #000;
  background-color: #000;
  height: 1px; }

.home-wrapper .home-button-row {
  text-align: center; }

.home-wrapper button {
  width: 400px;
  height: 200px;
  background-color: #010036;
  margin: 25px;
  color: #fff;
  font-size: 24px;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 8px 8px 8px #b6b6b6; }

.home-wrapper button:hover {
  color: #fff;
  background-color: #003E71; }

.home-wrapper button:focus {
  color: #fff; }

.home-wrapper a:hover {
  text-decoration: none; }

@media screen and (max-width: 1360px) {
  .home-wrapper #iml-building {
    height: 300px; } }

@media screen and (max-width: 1190px) {
  .home-wrapper #iml-building {
    height: 200px; } }

@media screen and (max-width: 950px) {
  .home-wrapper #iml-building {
    height: 150px; }
  .home-wrapper button {
    height: 100px;
    width: 250px;
    font-size: 18px; }
  .home-wrapper #intermountain-logo {
    height: 50px; }
  .home-wrapper p, .home-wrapper h2 {
    font-size: 18px; } }

@media screen and (max-width: 630px) {
  .home-wrapper #iml-building {
    height: 100px; }
  .home-wrapper #now-hiring {
    line-height: 30px; } }

@media screen and (max-width: 420px) {
  .home-wrapper #iml-building {
    height: 80px; }
  .home-wrapper #intermountain-logo {
    height: 40px; } }

.history-wrapper {
  width: 100%;
  font-size: 18px; }
  .history-wrapper p {
    line-height: 30px; }
  .history-wrapper h2 {
    width: 300px;
    margin: 50px auto 50px auto; }
  .history-wrapper .top-info {
    text-indent: 50px; }
  .history-wrapper #staff-list {
    width: 50%;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
    padding-left: 20px;
    margin-top: 50px; }
  .history-wrapper img {
    vertical-align: top;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 8px 8px 8px #b6b6b6; }
  .history-wrapper .image-container {
    display: inline-block;
    vertical-align: top; }

@media screen and (max-width: 1360px) {
  .history-wrapper h2 {
    max-width: 90%;
    text-align: center; }
  .history-wrapper .image-container {
    width: 100%;
    text-align: center; }
  .history-wrapper #staff-list {
    width: 400px;
    margin: 50px auto 0 auto;
    display: block; }
  .history-wrapper img {
    max-width: 90%; } }

.quality-wrapper {
  font-size: 18px; }
  .quality-wrapper h2 {
    margin: 50px auto 50px auto;
    width: 400px; }
  .quality-wrapper .img-thumb {
    height: 75px;
    width: 75px;
    border: 1px solid #000;
    margin-left: 50px; }
  .quality-wrapper .intermountain-list-title {
    border-top: 1px dotted #000;
    padding-top: 10px; }
  .quality-wrapper .info-section {
    line-height: 30px; }
    .quality-wrapper .info-section p {
      text-indent: 50px; }
  .quality-wrapper .links-section {
    text-align: left;
    margin-left: 60px; }
  .quality-wrapper .fa-square {
    margin-right: 5px; }

@media screen and (max-width: 1100px) {
  .quality-wrapper h2 {
    max-width: 90%;
    text-align: center; } }

.facilities-wrapper {
  font-size: 18px;
  line-height: 30px; }
  .facilities-wrapper p {
    text-indent: 50px; }
  .facilities-wrapper h2 {
    margin: 50px auto 50px auto;
    width: 200px; }
  .facilities-wrapper img {
    width: 98%;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 8px 8px 8px #b6b6b6; }

@media screen and (max-width: 1100px) {
  .facilities-wrapper h2 {
    max-width: 90%;
    text-align: center; } }

.equipment-wrapper {
  font-size: 18px;
  line-height: 30px; }
  .equipment-wrapper h2 {
    width: 400px;
    margin: 50px auto 50px auto; }
  .equipment-wrapper .info-section {
    text-indent: 50px; }
  .equipment-wrapper .equipment-photos-section {
    width: 100%;
    text-align: center;
    margin-top: 50px; }
  .equipment-wrapper h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center; }
  .equipment-wrapper .photo-thumb {
    display: inline; }
    .equipment-wrapper .photo-thumb img {
      margin-left: 10px;
      margin-right: 10px;
      height: 85px;
      width: 85px; }
  .equipment-wrapper .photo-thumb:hover {
    cursor: pointer; }
  .equipment-wrapper .one-thumb {
    transition: all 0.01s; }
  .equipment-wrapper .one-thumb:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    filter: blur(0);
    -webkit-filter: blur(0); }
  .equipment-wrapper .equipment-thumbs {
    padding-bottom: 10px; }
  .equipment-wrapper #main-img-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold; }
  .equipment-wrapper .main-equipment-image {
    margin-bottom: 50px;
    border: 1px solid #010036;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 8px 8px 8px #b6b6b6; }
  .equipment-wrapper .equip-button:focus {
    background-color: #010036; }

.active-equipment {
  background-color: #010036; }

@media screen and (max-width: 1100px) {
  .equipment-wrapper h2 {
    max-width: 90%;
    text-align: center; }
  .equipment-wrapper .main-equipment-image {
    max-width: 90%; } }

.customers-wrapper {
  width: 100%; }
  .customers-wrapper .fa-square {
    margin-right: 5px; }
  .customers-wrapper #customers-title {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  .customers-wrapper .customers-row .amusement {
    width: 30%;
    display: inline-block;
    vertical-align: top; }
  .customers-wrapper .customers-row .transportation {
    width: 30%;
    display: inline-block;
    vertical-align: top; }
  .customers-wrapper .customers-row .industrial {
    width: 36%;
    display: inline-block;
    vertical-align: top; }
  .customers-wrapper .customers-row li {
    font-size: 18px;
    list-style-type: none;
    line-height: 40px; }

@media screen and (max-width: 1030px) {
  .customers-wrapper .customers-row {
    width: 400px;
    margin: 0 auto; }
    .customers-wrapper .customers-row .amusement {
      width: 100%; }
    .customers-wrapper .customers-row .transportation {
      width: 100%; }
    .customers-wrapper .customers-row .industrial {
      width: 100%; }
    .customers-wrapper .customers-row h2 {
      width: 310px; } }

.employment-wrapper {
  line-height: 30px; }
  .employment-wrapper .fa-square {
    margin-right: 5px; }
  .employment-wrapper .job-status {
    color: lawngreen;
    background-color: #010036;
    padding: 2px;
    margin-left: 5px; }
  .employment-wrapper h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  .employment-wrapper li {
    list-style-type: none; }
    .employment-wrapper li h3 {
      display: inline; }
  .employment-wrapper p {
    margin-left: 50px; }
  .employment-wrapper .employment-other-info {
    margin-top: 100px;
    text-align: center; }
    .employment-wrapper .employment-other-info h2 {
      margin-top: 0;
      margin-bottom: 0; }

.all-work-wrapper {
  font-size: 18px;
  line-height: 30px; }
  .all-work-wrapper h2 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center; }
  .all-work-wrapper p {
    text-indent: 50px; }
  .all-work-wrapper li {
    list-style-type: none;
    display: inline-block; }
  .all-work-wrapper .work-body {
    text-align: center;
    padding-bottom: 25px;
    display: inline-block;
    width: 45%;
    vertical-align: top;
    float: right; }
  .all-work-wrapper .all-work-thumb {
    height: 85px;
    width: 85px;
    margin: 2px;
    transition: all 0.01s; }
  .all-work-wrapper .all-work-thumb:hover {
    cursor: pointer;
    filter: blur(0);
    -webkit-filter: blur(0);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .all-work-wrapper .work-button:focus {
    background-color: #010036; }
  .all-work-wrapper .button-row {
    text-align: center; }
  .all-work-wrapper .work-button {
    color: #fff;
    margin-top: 40px; }
  .all-work-wrapper .main-image {
    border: 1px solid #010036;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 8px 8px 8px #b6b6b6;
    max-width: 500px; }
  .all-work-wrapper .main-photo-info {
    text-align: center;
    margin-bottom: 50px;
    display: inline-block;
    float: left;
    vertical-align: top; }
  .all-work-wrapper span {
    font-weight: bold; }

.active-work {
  background-color: #010036; }

@media screen and (max-width: 1030px) {
  .all-work-wrapper .work-body {
    width: 100%;
    float: none; }
  .all-work-wrapper .main-photo-info {
    width: 100%;
    text-align: center;
    float: none; }
  .all-work-wrapper .all-photos {
    width: 100%; } }

@media screen and (max-width: 660px) {
  .all-work-wrapper .main-image {
    max-width: 250px; } }

.contact-wrapper {
  font-size: 18px;
  line-height: 30px; }
  .contact-wrapper h2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  .contact-wrapper h3 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    clear: both; }
  .contact-wrapper p {
    width: 400px;
    margin: 0 auto; }
  .contact-wrapper #map {
    height: 270px;
    width: 100%;
    display: inline-block;
    margin-right: 4%;
    margin-top: 20px; }
  .contact-wrapper .company-address {
    vertical-align: top;
    width: 30%;
    display: inline-block;
    float: left;
    margin-left: 25%; }
    .contact-wrapper .company-address h3 {
      text-align: left; }
  .contact-wrapper .email-form {
    clear: both;
    margin-top: 50px; }
  .contact-wrapper .sales-and-inquiry {
    vertical-align: top;
    width: 30%;
    display: inline-block;
    float: right;
    margin-right: 15%; }
    .contact-wrapper .sales-and-inquiry h3 {
      text-align: left; }
  .contact-wrapper form {
    clear: both;
    width: 100%;
    text-align: center;
    margin-bottom: 50px; }
  .contact-wrapper .email-form {
    position: relative;
    width: 500px;
    margin: 0 auto; }
  .contact-wrapper button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    display: block;
    font-weight: bold; }
  .contact-wrapper input {
    margin: 10px auto 10px auto;
    width: 500px;
    padding-left: 5px; }
  .contact-wrapper #message-box {
    height: 400px;
    resize: none;
    width: 500px;
    margin-top: 10px;
    padding-left: 5px; }
  .contact-wrapper .fa-times {
    font-size: 24px;
    color: red; }
  .contact-wrapper .fa-check-circle {
    font-size: 24px;
    color: green; }
  .contact-wrapper .fa {
    margin-left: 5px; }

@media screen and (max-width: 1230px) {
  .contact-wrapper p {
    text-indent: 0; } }

@media screen and (max-width: 1060px) {
  .contact-wrapper .company-address {
    display: block;
    float: none;
    margin: 0 auto;
    width: 90%;
    text-align: center; }
    .contact-wrapper .company-address h3 {
      text-align: center; }
  .contact-wrapper .sales-and-inquiry {
    display: block;
    float: none;
    margin: 0 auto;
    width: 90%;
    text-align: center; }
    .contact-wrapper .sales-and-inquiry h3 {
      text-align: center; } }

@media screen and (max-width: 600px) {
  .contact-wrapper .company-address p,
  .contact-wrapper .sales-and-inquiry p {
    min-width: 280px;
    max-width: 70%;
    text-align: center; }
  .contact-wrapper input,
  .contact-wrapper textarea {
    max-width: 70%;
    min-width: 280px; }
  .contact-wrapper form {
    max-width: 70%;
    min-width: 280px; }
  .contact-wrapper button {
    max-width: 70%;
    min-width: 280px; } }
