html,
body {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.btn {
    border: 1px solid #000;
}

.page-container {
    min-height: 100%;
}

.home-wrapper {
    #now-hiring {
        padding: 5px;
        margin-bottom: 50px;
        
    }
    #now-hiring-phrase {
        color: lawngreen;
        background-color: #010036;
        padding: 2px;
        moz-box-shadow: 10px 10px 5px #888;
        -webkit-box-shadow: 10px 10px 5px #888;
        box-shadow: 8px 8px 8px #b6b6b6;
    }
    #intermountain-logo {
        -moz-box-shadow: 10px 10px 5px #888;
        -webkit-box-shadow: 10px 10px 5px #888;
        box-shadow: 8px 8px 8px #b6b6b6;
        margin-top: 20px;
    }
    .jumbotron {
        text-align: center;
        min-height: 100%;
        padding-bottom: 0;
        margin-top: 0;
        padding-top: 0;
    }
    img {
        margin-top: 0;
        padding-top: 0;
        -moz-box-shadow: 10px 10px 5px #888;
        -webkit-box-shadow: 10px 10px 5px #888;
        box-shadow: 8px 8px 8px #b6b6b6;
    }
    h2 {
        width: 100%;
        text-align: center;
    }
    hr {
        color: #000;
        background-color: #000;
        height: 1px;
    }
    .home-button-row {
        text-align: center;
    }
    button {
        width: 400px;
        height: 200px;
        background-color: #010036;
        margin: 25px;
        color: #fff;
        font-size: 24px;
        -moz-box-shadow: 10px 10px 5px #888;
        -webkit-box-shadow: 10px 10px 5px #888;
        box-shadow: 8px 8px 8px #b6b6b6;
    }
    button:hover {
        color: #fff;
        background-color: #003E71;
    }
    button:focus {
        color: #fff;
    }
}