html, body {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.page-container {
    min-height: 100%;
}

.home-wrapper {
    .jumbotron {
        text-align: center;
        min-height: 100%;
        padding-bottom: 0;
    }
    
    h2 {
        border: 1px dotted #000;
        width: 600px;
        margin: 0 auto;
    }
    
    hr {
        color: #000;
        background-color: #000;
        height: 1px;
    }
    .home-button-row {
        text-align: center;
    }
    button {
        width: 400px;
        height: 200px;
        background-color: #010036;
        margin: 25px;
        color: #fff;
        font-size: 24px;
    }
    button:hover {
        color: #fff;
        background-color: #003E71;
    }
    button:focus {
        color: #fff;
    }
}