<div class="all-work-wrapper">
    <div class="container">
        <div class ="button-row">
            <button class="btn btn-primary work-button" ng-click="changeCurrWorkType('Amusement'); loadWorkPics()">Amusement</button>
            <button class="btn btn-primary work-button" ng-click="changeCurrWorkType('Transportation'); loadWorkPics()">Transportation</button>
            <button class="btn btn-primary work-button" ng-click="changeCurrWorkType('Industrial'); loadWorkPics()">Industrial and Commercial</button>
        </div>
        <div class="work-head">
            <h2>{{currTitle}}</h2>
            <p>{{currDescription}}</p>
            </br>
        </div>
        <div class="work-body">
            <li ng-repeat="photo in currWorkArray" ng-click="changeCurrPhoto($index)"><img class="all-work-thumb" ng-src="{{photo.image}}" /></li>
        </div>
        <div class="main-photo-info">
            <img class="main-image" ng-src="{{currPhoto.image}}" />
            </br>
            "{{currPhoto.title}}"
            </br>
            {{currPhoto.placeName}}
            </br>
            {{currPhoto.location}}
            </br>
            <span>{{currPhoto.company}}<span>
        </div>
    </div>
</div>