<div class="contact-wrapper">   <!-- Used 'contact-wrapper' since contact-wrapper already has all the CSS styling for the email form.-->
    <div class="email-form">
        <h3 id="emailus-title"><br><br>Email Us</h3>
        <form>
            <input type="text" placeholder="Your name" ng-model="emailName"><i class="fa fa-times" ng-show="!emailName"></i><i class="fa fa-check-circle" ng-show="emailName"></i>
            <br>

            <input type="email" placeholder="Your email address" ng-model="emailAddress" ng-keyup="isEmail(emailAddress)"><i class="fa fa-times" ng-show="!isValidEmail"></i><i class="fa fa-check-circle" ng-show="isValidEmail"></i>
            <br>
            <input type="text" placeholder="Subject" ng-model="emailSubject"><i class="fa fa-times" ng-show="!emailSubject"></i><i class="fa fa-check-circle" ng-show="emailSubject"></i>
            <br>
            <textarea id="message-box" type="text" placeholder="Message" ng-model="emailMessage"></textarea><i class="fa fa-times" ng-show="!emailMessage"></i><i class="fa fa-check-circle" ng-show="emailMessage"></i>
            <br>
            <button type="submit" ng-click="emailSubmit()">Submit</button>
        </form>
    </div>
</div>