.customers-wrapper {
    width: 100%;
    .fa-square {
        margin-right: 5px;
    }
    #customers-title {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .customers-row {
        .amusement {
            width: 30%;
            display: inline-block;
            vertical-align: top;
        }
        .transportation {
            width: 30%;
            display: inline-block;
            vertical-align: top;
        }
        .industrial {
            width: 36%;
            display: inline-block;
            vertical-align: top;
        }
        li {
            font-size: 18px;
            list-style-type: none;
            line-height: 40px;
        }
    }
}

//-------------MEDIA QUERIES----------------------
@media screen and (max-width:1030px) {
    .customers-wrapper {
        .customers-row {
            width: 400px;
            margin: 0 auto;
            .amusement {
                width: 100%;
            }
            .transportation {
                width: 100%;
            }
            .industrial {
                width: 100%;
            }
            h2 {
                width: 310px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .customers-wrapper {
        .customers-row {
            width: 300px;
        }
    }
}

@media screen and (max-width: 350px) {
    .customers-wrapper {
        .customers-row {
            width: 200px;
        }
    }
}