.contact-wrapper {
    font-size: 18px;
    line-height: 30px;
    h2 {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h3 {
        width: 100%;
        text-align: center;
        text-decoration: underline;
        clear: both;
    }
    p {
        width: 400px;
        margin: 0 auto;
    }
    #map {
        height: 270px;
        width: 100%;
        display: inline-block;
        margin-right: 4%;
        margin-top: 20px;
    }
    .company-address {
        vertical-align: top;
        width: 30%;
        display: inline-block;
        float: left;
        margin-left: 25%;
        h3 {
            text-align: left;
        }
    }
    .email-form {
        clear: both;
        margin-top: 50px;
    }
    .sales-and-inquiry {
        vertical-align: top;
        width: 30%;
        display: inline-block;
        float: right;
        margin-right: 15%;
        h3 {
            text-align: left;
        }
    }
    form {
        clear: both;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .email-form {
        position: relative;
        width: 500px;
        margin: 0 auto;
    }
    button {
        position: absolute;
        bottom: -30px;
        left: 3px;
        width: 465px;
        display: block;
        font-weight: bold;
    }
    input {
        margin: 10px auto 10px auto;
        width: 465px;
        padding-left: 5px;
    }
    #message-box {
        height: 400px;
        resize: none;
        width: 465px;
        margin-top: 10px;
        padding-left: 5px;
    }
    .fa-times {
        font-size: 24px;
        color: red;
        vertical-align: top;
        padding-top: 10px;
    }
    .fa-check-circle {
        font-size: 24px;
        color: green;
        vertical-align: top;
        padding-top: 10px;
    }
    .fa {
        margin-left: 5px;
    }
}

//----------------MEDIA QUERIES-------------------------
@media screen and (max-width:1230px) {
    .contact-wrapper {
        p {
            text-indent: 0;
        }
    }
}

@media screen and (max-width:1060px) {
    .contact-wrapper {
        .company-address {
            display: block;
            float: none;
            margin: 0 auto;
            width: 90%;
            text-align: center;
            h3 {
                text-align: center;
            }
        }
        .sales-and-inquiry {
            display: block;
            float: none;
            margin: 0 auto;
            width: 90%;
            text-align: center;
            h3 {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .contact-wrapper {
        overflow-x: hidden;
        .company-address p,
        .sales-and-inquiry p {
            min-width: 280px;
            max-width: 70%;
            text-align: center;
        }
        h3 {
            text-align: center;
            min-width: 280px;
            max-width: 70%;
            padding-left: 100px;
        }
        input,
        textarea {
            max-width: 70%;
            min-width: 280px;
        }
        form {
            max-width: 70%;
            min-width: 280px;
            margin-left: 15%;
        }
        button {
            max-width: 65%;
            min-width: 280px;
            left: 75px;
        }
        #emailus-title {
            width: 180px;
            padding-left: 180px;
        }
        .email-form {
            width: 500px;
            overflow-x: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .contact-wrapper {
        h3 {
            padding-left: 10%;
            text-align: center;
        }
        #emailus-title {
            padding-left: 90px;
        }
        form {
            margin-left: 5%;
        }
        button {
            left: 3%;
        }
    }
}

@media screen and (max-width: 420px) {
    .contact-wrapper {
        #emailus-title {
            padding-left: 0;
        }
        .email-form {
            margin-left: 0;
            padding-left: 0;
            width:300px;
        }
        
        button {
            left: 5%;
        }
        
        input, textarea, button {
            max-width: 250px;
            min-width: 100px;
        }
    }
}