.contact-wrapper {
    font-size: 18px;
    line-height: 30px;
    h2 {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h3 {
        width: 100%;
        text-align: center;
        text-decoration: underline;
        clear: both;
    }
    p {
        width: 400px;
        margin: 0 auto;
    }
    #map {
        height: 270px;
        width: 100%;
        display: inline-block;
        margin-right: 4%;
        margin-top: 20px;
    }
    .company-address {
        vertical-align: top;
        width: 30%;
        display: inline-block;
        float: left;
        margin-left: 25%;
        h3 {
            text-align: left;
        }
    }
    .email-form {
        clear: both;
        margin-top: 50px;
    }
    .sales-and-inquiry {
        vertical-align: top;
        width: 30%;
        display: inline-block;
        float: right;
        margin-right: 15%;
        h3 {
            text-align: left;
        }
    }
    form {
        clear: both;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    button {
        margin: 10px auto 10px auto;
        width: 300px;
        display: block;
        font-weight: bold;
    }
    input {
        margin: 10px auto 10px auto;
        width: 500px;
        padding-left: 5px;
    }
    #message-box {
        height: 400px;
        resize: none;
        width: 500px;
        margin-top: 10px;
        padding-left: 5px;
    }
    .fa-times {
        font-size: 24px;
        color: red;
    }
    .fa-check-circle {
        font-size: 24px;
        color: green;
    }
    .fa {
        margin-left: 5px;
    }
}

//----------------MEDIA QUERIES-------------------------
@media screen and (max-width:1230px) {
    .contact-wrapper {
        p {
            text-indent: 0;
        }
        button {
            margin: 0 0 0 13.3%;
        }
    }
}

@media screen and (max-width:1060px) {
    .contact-wrapper {
        .company-address {
            display:block;
            float:none;
            margin: 0 auto;
            width: 90%;
            text-align: center;
            h3 {
                text-align: center;
            }
        }
        .sales-and-inquiry {
            display:block;
            float:none;
            margin: 0 auto;
            width: 90%;
            text-align: center;
            h3 {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .contact-wrapper {
        .company-address p, .sales-and-inquiry p {
            min-width: 280px;
            max-width: 70%;
            text-align: center;
        }
        input, textarea {
            max-width: 70%;
            min-width: 280px;
        }
        button {
            padding-left: 0;
            max-width: 70%;
            min-width: 280px;
            margin: 0 0 0 10%;
        }
    }
}

@media screen and (max-width: 460px) {
    .contact-wrapper {
        button {
            margin: 0 0 0 2%;
        }
    }
}